node_modules
.env
.idea
.vscode
.env.local

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
package-lock.json
yarn.lock
yarn-error.log
ignition/deployments/morph
ignition/deployments/morph-holesky
